<footer>
    <div class="social-links">
        <a href="https://www.instagram.com/banda4giugno1859?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/groups/132283506879758/" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://github.com/GabrieleGroppo/banda-4-giugno" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </div>
    <p>Banda 4 giugno 1859 - P.I. 01300490156</p>
</footer>