<!-- Footer -->
<footer style="padding: 64px 0; text-align: center; font-size: 1.5em; background-color: lightgrey;">
    <div style="background-color: lightgrey;">
        <a href="https://www.instagram.com/banda4giugno1859?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" style="margin: 0 10px;">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/groups/132283506879758/" target="_blank" style="margin: 0 10px;">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://github.com/GabrieleGroppoUni03/banda-4-giugno" target="_blank" style="margin: 0 10px;">
            <i class="fab fa-github"></i>
        </a>
    </div>
    <p style="font-size: 0.9em; color: black; background-color: lightgrey;">Banda 4 giugno 1859 - P.I. 01300490156</p>
</footer>