<!-- Navbar -->
<div class="w3-top custom-bg" style="background-color: #141218 !important;">
    <div class="w3-bar w3-card custom-bg" style="background-color: #141218 !important;">
        <!-- Resto del codice -->
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
        href="javascript:void(0)" onclick="mini_munu()" title="Toggle Navigation Menu"><i
            class="fa fa-bars"></i></a>
    <a href="index.html" class="w3-bar-item w3-button w3-padding-large">
        <img src="images/logo_bianco.png" alt="Logo" style="height: 30px; vertical-align: middle;">
    </a>
    <a href="story.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small" style="font-size: 18px; ">Storia</a>
    <a href="school.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small" style="font-size: 18px; ">Scuola</a>
    <a href="memories.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small" style="font-size: 18px; ">Ricordi</a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="mini_nav_bar" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium w3-top custom-bg"
    style="margin-top:46px; background-color: #141218 !important;">
    <a href="story.html" class="w3-bar-item w3-button w3-padding-large" style="font-size: 18px; " onclick="mini_munu()">Storia</a>
    <a href="school.html" class="w3-bar-item w3-button w3-padding-large" style="font-size: 18px; " onclick="mini_munu()">Scuola</a>
    <a href="memories.html" class="w3-bar-item w3-button w3-padding-large" style="font-size: 18px; " onclick="mini_munu()">Ricordi</a>
</div>