<nav class="navbar">
    <div class="nav-container">
        <a href="index.html" class="nav-logo">Banda 4 Giugno 1859</a>
        <button class="menu-toggle" onclick="toggleMenu()">
            <i class="fa fa-bars"></i>
        </button>
        <ul class="nav-links" id="nav-menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="story.html">Storia</a></li>
            <li><a href="school.html">Scuola</a></li>
            <li><a href="memories.html">Ricordi</a></li>
            <li><a href="index.html#contact">Contatti</a></li>
        </ul>
    </div>
</nav>